<div class="container">
  <% if user_signed_in? %>
    <div class="row">
      <h2>出荷カレンダー</h2>
      <p class="h3 text-end bg-dark text-white " id="RealtimeClockArea2"></p>
      <div class="shipment-make-first">
        <%= link_to "工事一覧", users_constructions_path, class: "btn btn-primary" %>
        <%= link_to "見積", users_companies_path, class: "btn btn-warning" %>
        <% if @day.count == 0 %>
        <% else %>
          今日の予定は、納品が
          <%= @day.count %>
          件あります。ご安全に！
        <% end %>
      </div>
      <div class="m-2" id='calendar'></div>
      <%= javascript_pack_tag 'calendar/event' %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted h3">Weekly shipment</span>
          <span class="badge bg-secondary rounded-pill"><%= @day_heads.count %></span>
        </h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>担当</th>
              <th>時間</th>
              <th>現場</th>
              <th>詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @day_heads.each do |day_data| %>
              <tr>
                <td><%= day_data.user.name %></td>
                <td><%= link_to day_data.ship_date.strftime("%-m月%-d日 %-H時%-M分"), invoice_users_shipments_path(:id => day_data.id, format: "pdf"), method: :post %></td>
                <td><%= day_data.construction.company.name %>/<%= day_data.construction.name %></td>
                <td class="small">
                  <% @shippeds.where(head_id: day_data.id).each do |shipped| %>
                    <% if shipped.quantity == nil %>
                    <% else %>
                      <p>
                        <%= shipped.body.product_name %>【<%= shipped.quantity %>】
                      </p>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted h3">Todo List</span>
          <span class="badge bg-secondary rounded-pill"><%= @job_periods.count %></span>
        </h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>期限</th>
              <th>依頼</th>
              <th>内容</th>
              <th>詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @job_periods.each do |job_period| %>
              <% if job_period.completed == true %>
                <tr>
                  <td class="text-danger">完了<%= job_period.updated_at.strftime('%m-%d') %></td>
                  <td class="text-muted"><%= job_period.person.company.name %>/
                    <% if job_period.person.position == "" %>
                      <%= job_period.person.name %>さん
                    <% else %>
                      <%= job_period.person.name %><%= job_period.person.position %>
                    <% end %>
                  </td>
                  <td class="text-muted"><%= job_period.type_i18n %></td>
                  <td class="text-muted"><%= job_period.content %></td>
                </tr>
              <% else %>
                <tr>
                  <td>
                    <%= job_period.date %>
                    <%= link_to '完了', users_job_path(job_period, job: {completed: true}), method: :put, class: "btn btn-sm btn-success" %></td>
                  <td>
                    <%= job_period.person.company.name %>/
                    <% if job_period.person.position == "" %>
                      <%= job_period.person.name %>さん
                    <% else %>
                      <%= job_period.person.name %><%= job_period.person.position %>
                    <% end %>
                  </td>
                  <td><%= job_period.type_i18n %></td>
                  <td><%= job_period.content %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="request">
      <div class="row">
        <div class="col-sm border p-3 m-1">現場件数
          <div class="h1 text-danger text-end"><%= @constructions.count %></div>
        </div>
        <div class="col-sm border p-3 m-1">顧客件数
          <div class="h1 text-primary text-end"><%= @companies.count %></div>
        </div>
        <div class="col-sm border p-3 m-1">JOB依頼数
          <div class="h1 text-warning text-end"><%= @jobs.count %></div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="title">
        擁 壁<br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/2.PW_.pdf">
          道路用L型擁壁・プレキャストウォール
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/3.WCN%E2%85%A2.pdf">
          住宅用L型擁壁・ニューウォルコンⅢ
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/4.%E3%83%97%E3%83%AD%E3%83%86%E3%82%AF%E3%83%88%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%AB.pdf">
          車両防護柵L型擁壁・プロテクトウォール
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/5.KP_.pdf">
          大型擁壁・KP大型ブロック
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/6.KK%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF.pdf">
          環境保全型積ブロック・KKブロック
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/7.%E7%AE%B1%E5%9E%8B%E6%93%81%E5%A3%81.pdf">
          箱型擁壁
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/8.%E3%82%A2%E3%83%87%E3%83%A0%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%AB.pdf">
          垂直擁壁・アデムウォール
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/9.%E3%83%80%E3%83%A0%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%AB.pdf">
          自立式砂防堰堤型枠ブロック・ダムウォール
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/10.BSB%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF.pdf">
          砂防堰堤工法・BSBブロック
        </a><br />
      </div>
    </div>
    <div class="row">
      <div class="title">
        環境製品<br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/11.%E5%A4%A7%E5%9E%8B%E5%BC%B5%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF.pdf">
          大型張りブロック・エコブロックさざなみ
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/12.%E9%98%B2%E7%81%BD%E5%9E%8B%E5%BC%B5%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF.pdf">
          滑り止め張りブロック・防災型張りブロック
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/13.%E3%82%A2%E3%83%B3%E3%82%AB%E3%83%BC%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF.pdf">
          法面／護岸工の帯工・アンカーブロック
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/14.%EF%BE%8C%EF%BE%9E%EF%BE%9B%EF%BD%AF%EF%BD%B8%EF%BE%8F%EF%BD%AF%EF%BE%84.pdf">
          ブロックマット
        </a><br />
        <a href="https://www.kashiwagi-k.co.jp/manager/wp-content/uploads/2020/05/15.%E7%92%B0%E5%A2%83%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF.pdf">
          魚巣ブロック・環境ブロック
        </a><br />
      </div>
    </div>
  <% end %>
</div>

<script>
  function set2fig(num){
    var ret;
    if(num < 10) {ret = "0" + num;}
    else{ret = num;}
    return ret;
  }
  function showClock2(){
		var nowTime = new Date();
		var nowHour = set2fig(nowTime.getHours());
		var nowMin = set2fig(nowTime.getMinutes());
		var nowSec = set2fig(nowTime.getSeconds());
		var msg = nowHour + ":" + nowMin + ":" + nowSec;
		document.getElementById("RealtimeClockArea2").innerHTML = msg;
	}
	setInterval('showClock2()' ,1000);
</script>
