<div class="container">
  <div class="row">
    <h2>出荷カレンダー</h2>
    <p class="h3 text-end bg-dark text-white " id="RealtimeClockArea2"></p>
    <div class="shipment-make-first">
      <% if user_signed_in? %>
        <%= link_to "工事一覧", users_constructions_path, class: "btn btn-primary" %>
        <%= link_to "見積", users_companies_path, class: "btn btn-warning" %>
      <% else %>
      <% end %>
    </div>
    <div class="m-2" id='calendar'></div>
    <%= javascript_pack_tag 'calendar/event' %>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>担当</th>
          <th>時間</th>
          <th>現場</th>
        </tr>
      </thead>
      <tbody>
        <% @day_heads.each do |day_data| %>
          <tr>
            <td><%= day_data.user.name %></td>
            <td><%= day_data.ship_date.strftime("%-m月%-d日 %-H時%-M分") %></td>
            <td><%= day_data.construction.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if user_signed_in? %>
    <div class="request">
      <div class="row">
        <div class="col-sm border p-3 m-1">現場件数
          <div class="h1 text-danger text-end"><%= @constructions.count %></div>
        </div>
        <div class="col-sm border p-3 m-1">顧客件数
          <div class="h1 text-primary text-end"><%= @companies.count %></div>
        </div>
        <div class="col-sm border p-3 m-1">JOB依頼数
          <div class="h1 text-warning text-end"><%= @jobs.count %></div>
        </div>
      </div>
    </div>
  <% else %>
  <% end %>
</div>

<script>
  function set2fig(num){
    var ret;
    if(num < 10) {ret = "0" + num;}
    else{ret = num;}
    return ret;
  }
  function showClock2(){
		var nowTime = new Date();
		var nowHour = set2fig(nowTime.getHours());
		var nowMin = set2fig(nowTime.getMinutes());
		var nowSec = set2fig(nowTime.getSeconds());
		var msg = nowHour + ":" + nowMin + ":" + nowSec;
		document.getElementById("RealtimeClockArea2").innerHTML = msg;
	}
	setInterval('showClock2()' ,1000);
</script>
