<div class="container">
  <div class="row">
    <div class="construction-make border">
      <%= form_with model: @construction, url: users_construction_path(@construction), local: true do |f| %>
        <div class="form-group p-1">
          <%= f.label "工事名" %><br />
          <%= f.text_field :name, placeholder: "工事名", size: 38 %>
          <%= f.text_field :order_no, placeholder: "order No", class: "m-1", size: 10 %>
        </div>
        <div class="form-group p-1">
          <%= f.label "備考" %><br />
          <%= f.text_field :remark, placeholder: "備考", size: 38 %>
        </div>
        <div class="form-group p-1">
          <%= f.label "納入先" %><br />
          <%= f.text_field :delivery_name, placeholder: "納入先", class: "m-1", size: 25 %>
          <%= f.text_field :person, placeholder: "先方担当", class: "m-1", size: 7 %>
          <%= f.text_field :tel, placeholder: "TEL", class: "m-1", size: 13  %><br />
          <%= f.text_field :address, placeholder: "納入場所", class: "m-1", size: 38 %>
        </div>
        <%= f.submit "更新", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
