<div class="container">
  <div class="row">
    <div class="construction-make col-sm-5 m-1 border">
      <%= form_with model: @construction, url: users_constructions_path, local: true do |f| %>
        <div class="form-group p-1">
          <%= f.label "工事名" %><br />
          <%= f.text_field :name, placeholder: "工事名", size: 38 %>
          <%= f.text_field :order_no, placeholder: "order No", class: "m-1", size: 10 %>
        </div>
        <div class="form-group p-1">
          <%= f.label "備考" %><br />
          <%= f.text_field :remark, placeholder: "備考", size: 38 %>
        </div>
        <div class="form-group p-1">
          <%= f.label "得意先" %><br />
          <%= f.collection_select :company_id, @companies, :id, :name, include_blank: true, class: "m-1", size: 25 %><br />
          <%= f.label "地図" %><br />
          <%= f.file_field :image, class: "m-1" %>
        </div>
        <div class="form-group p-1">
          <%= f.label "納入先" %><br />
          <%= f.text_field :delivery_name, placeholder: "納入先", size: 25 %>
          <%= f.text_field :person, placeholder: "先方担当", class: "m-1", size: 7 %>
          <%= f.text_field :tel, placeholder: "TEL", class: "m-1", size: 13  %><br />
          <%= f.text_field :address, placeholder: "納入場所", class: "m-1", size: 38 %>
        </div>
        <%= f.submit "登録", class: "btn btn-success" %>
      <% end %>
    </div>
    <% if params[:id] == nil %>
      <div class="constructions-index table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">得意先</th>
              <th scope="col" class="text-nowrap">納入先</th>
              <th scope="col" class="text-nowrap">Map</th>
              <th scope="col" class="text-nowrap">備考</th>
              <th scope="col" class="text-nowrap">工事名</th>
              <th scope="col" class="text-nowrap">商品</th>
              <th scope="col" class="text-nowrap">先方担当</th>
              <th scope="col" class="text-nowrap">TEL</th>
              <th scope="col" class="text-nowrap"></th>
              <th scope="col" class="text-nowrap"></th>
            </tr>
          </thead>
          <tbody>
            <% @constructions.each do |construction| %>
            <tr>
              <td>
                <%= construction.company.name %>
              </td>
              <td>
                <%= construction.delivery_name %>
              </td>
              <td scope="col" class="text-nowrap">
                <% if construction.address == "" %>
                <% else %>
                  <%= link_to "Map", construction.address %>
                <% end %>
              </td>
              <td>
                <%= construction.remark %>
              </td>
              <td scope="col" class="text-nowrap">
                <%= link_to construction.name, users_bodies_path(:construction_id => construction.id) %>
              </td scope="col" class="text-nowrap">
              <td>

                <p>
                  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <%= @bodies.where(construction_id: construction.id).count %>
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <% @bodies.where(construction_id: construction.id).each do |body| %>
                      <a href="#">
                        <%= body.product_name %>（<%= body.quantity %>）
                      </a>
                    <% end %>
                  </div>
                </div>


              </td>
              <td scope="col" class="text-nowrap">
                <%= construction.person %>さん
              </td>
              <td scope="col" class="text-nowrap">
                <%= construction.tel %>
              </td>
              <td scope="col" class="text-nowrap">
                <%= link_to "訂正", edit_users_construction_path(construction), class: "btn btn-warning" %>
              </td>
              <td scope="col" class="text-nowrap">
                <%= link_to "削除", users_construction_path(construction), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="constructions-index table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">納入先</th>
              <th scope="col" class="text-nowrap">Map</th>
              <th scope="col" class="text-nowrap">備考</th>
              <th scope="col" class="text-nowrap">工事名</th>
              <th scope="col" class="text-nowrap">商品</th>
              <th scope="col" class="text-nowrap">先方担当</th>
              <th scope="col" class="text-nowrap">TEL</th>
              <th scope="col" class="text-nowrap"></th>
              <th scope="col" class="text-nowrap"></th>
            </tr>
          </thead>
          <tbody>
            <% @constructions.each do |construction| %>
            <tr>
              <td>
                <%= construction.delivery_name %>
              </td>
              <td scope="col" class="text-nowrap">
                <% if construction.address == "" %>
                <% else %>
                  <%= link_to "Map", construction.address %>
                <% end %>
              </td>
              <td>
                <%= construction.remark %>
              </td>
              <td scope="col" class="text-nowrap">
                <%= link_to construction.name, users_bodies_path(:construction_id => construction.id) %>
              </td scope="col" class="text-nowrap">
              <td>

                <p>
                  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <%= @bodies.where(construction_id: construction.id).count %>
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <% @bodies.where(construction_id: construction.id).each do |body| %>
                      <a href="#">
                        <%= body.product_name %>（<%= body.quantity %>）
                      </a>
                    <% end %>
                  </div>
                </div>


              </td>
              <td scope="col" class="text-nowrap">
                <%= construction.person %>さん
              </td>
              <td scope="col" class="text-nowrap">
                <%= construction.tel %>
              </td>
              <td scope="col" class="text-nowrap">
                <%= link_to "訂正", edit_users_construction_path(construction), class: "btn btn-warning" %>
              </td>
              <td scope="col" class="text-nowrap">
                <%= link_to "削除", users_construction_path(construction), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= link_to "工事一覧", users_constructions_path, class: "btn btn-primary" %>
    <%= link_to "見積", users_companies_path, class: "btn btn-warning" %>
  </div>
</div>

<%# <script>
  /* 担当者Open */
  $('.opne-1').hide();
  $('.btn-1').click(function (){
    $('.open-1').slideToggle('slow');
    $(this).toggleClass('active');
    alert(s);
  });
</script> %>
