<div class="container">
  <div class="row">
    <div class="construction-make border">
      <%= form_with model: @construction, url: users_constructions_path, local: true do |f| %>
        <div class="form-group p-1">
          <%= f.label "工事名" %><br />
          <%= f.text_field :name, placeholder: "工事名", size: 40 %>
          <%= f.text_field :order_no, placeholder: "order No", class: "m-1", size: 10 %>
        </div>
        <div class="form-group p-1">
          <%= f.label "納入先" %><br />
          <%= f.text_field :delivery_name, placeholder: "納入先", class: "m-1", size: 25 %>
          <%= f.text_field :person, placeholder: "先方担当", class: "m-1", size: 7 %>
          <%= f.text_field :tel, placeholder: "TEL", class: "m-1", size: 13  %><br />
          <%= f.text_field :address, placeholder: "納入場所", class: "m-1", size: 53 %>
        </div>
        <%= f.submit "登録", class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="constructions-index table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-nowrap">受注No</th>
            <th scope="col" class="text-nowrap">工事名</th>
            <th scope="col" class="text-nowrap">商品</th>
            <th scope="col" class="text-nowrap">納入先</th>
            <th scope="col" class="text-nowrap">納入場所</th>
            <th scope="col" class="text-nowrap">先方担当</th>
            <th scope="col" class="text-nowrap">TEL</th>
            <th scope="col" class="text-nowrap"></th>
            <th scope="col" class="text-nowrap"></th>
          </tr>
        </thead>
        <tbody>
          <% @constructions.each do |construction| %>
          <tr>
            <td scope="col" class="text-nowrap">
              <%= construction.order_no %>
            </td>
            <td scope="col" class="text-nowrap">
              <%= construction.name %>
            </td scope="col" class="text-nowrap">
            <td>
            <td scope="col" class="text-nowrap">
              <div class="wrap">
                <div class="open_h3 btn-1">
                  <a href="">
                    <span class="badge badge-pill badge-success">
                      <%= @bodies.where(construction_id: construction.id).count %>
                    </span>
                  </a>
                </div>
              </div>
            </td scope="col" class="text-nowrap">
            <td>
              <%= construction.delivery_name %>
            </td>
            <td scope="col" class="text-nowrap">
              <%= construction.address %>
            </td>
            <td scope="col" class="text-nowrap">
              <%= construction.person %>
            </td>
            <td scope="col" class="text-nowrap">
              <%= construction.tel %>
            </td>
            <td scope="col" class="text-nowrap">
              <%= link_to "訂正", edit_users_construction_path(construction), class: "btn btn-warning" %>
            </td>
            <td scope="col" class="text-nowrap">
              <%= link_to "削除", users_construction_path(construction), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
