<div class="container">
  <div class="row">
    <div class="body-make">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/kashiwagi_logo.png" alt="" width="52" height="37">
        <h2><%= @construction.name %></h2>
        <p class="lead text-white-50 bg-dark"><%= @construction.delivery_name %>（<%= @construction.address %>）<%= @construction.person %>さん（<%= @construction.tel %>）</p>
        <p class="lead">納入製品を全て登録して下さい！</p>
      </div>
    </div>
  </div>
</div>
