<div class="container">

  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/assets/kashiwagi_logo.png" alt="" width="52" height="37">
        <h2><%= @construction.name %></h2>
        <p class="lead bg-warning text-dark"><%= @construction.delivery_name %>（<%= @construction.address %>）<%= @construction.person %>さん（<%= @construction.tel %>）</p>
        <p class="lead">出荷内容を確定して下さい！</p>
    </div>

    <div class="row g-3">
      
      <div class="col-md-7 col-lg-8">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted h3">Shipping request</span>
        </h4>


        <div class="needs-validation" novalidate>
          <%= form_with model: @head, url: users_shipment_path(@head), local: true do |f| %>
            <div class="row g-3">
              <div class="col-5">
                <div class="form-label">出荷日</div>
                <%= f.datetime_field :ship_date, class: "form-control" %>
              </div>
              <div class="col-3">
                <div class="form-label">搬入車両</div>
                <select class="form-select" aria-label="Default select example" value=<%= f.select :vehicle, Head.vehicles_i18n.keys.map { |k| [Head.vehicles_i18n[k], k]} %>
              </div>
              <div class="col-2">
                <div class="form-label">ユニック要</div>
                <%= f.check_box :unic, class: "form-check-input" %>
              </div>
              <div class="col-2">
                <div class="form-label">待機場所有</div>
                <%= f.check_box :waiting_place, class: "form-check-input"  %>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-12">
                <div class="form-label">降雨時の対応</div>
                <%= f.text_field :rain, class: "form-control" %>
              </div>
            </div>

            <div class="row g-3">
              <div>
                <%= radio_button_tag :flag, 0 %>登録住所<br />
              </div>
              <div class="col-sm-12">
                <%= @construction.delivery_name %>（<%= @construction.address %>）<%= @construction.person %>さん（<%= @construction.tel %>）
              </div>
            </div> 
            <div class="row g-3">
              <div>
                <%= radio_button_tag :flag, 1 %>新しいお届け先<br />
              </div>
              <div class="col-sm-7">
                <div class="form-label">納入会社</div>
                <%= f.text_field :delivery, class: "form-control" %>
              </div>
              <div class="col-sm-3">
                <div class="form-label">担当者</div>
                <%= f.text_field :delivery_person, class: "form-control" %>
              </div>
              <div class="col-sm-2">
                <div class="form-label">TEL</div>
                <%= f.text_field :delivery_tel, class: "form-control" %>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-sm-12">
                <div class="form-label">納入住所</div>
                <%= f.text_field :delivery_address, class: "form-control" %>
              </div>
              <%= f.hidden_field :construction_id, :value => @construction.id %>
              <%= f.submit "更新する", class: "w-100 btn btn-warning btn-lg" %>
            </div>
              <%# end %>
          <% end %>
        </div>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 柏木興産</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
