<div class="container">
  <div class="row">
    <div class="shipment-index">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>出荷日時</th>
            <th>着時間</th>
            <th>搬入車両</th>
            <th>ユニック</th>
            <th>待機場所</th>
            <th>雨対応</th>
            <th>納入先</th>
            <th>担当者</th>
            <th>TEL</th>
            <th>住所</th>
            <th>受注No</th>
            <th>工事名</th>
            <th>施工金具</th>
            <th>備考</th>
          </tr>
        </thead>
        <tbody>
          <% @heads.each do |head| %>
            <tr>
              <td><%= head.ship_date %></td>
              <td><%= head.ship_time %></td>
              <td><%= head.unic %></td>
              <td><%= head.waiting_place %></td>
              <td><%= head.rain %></td>
              <td><%= head.delivery %></td>
              <td><%= head.delivery_person %></td>
              <td><%= head.delivery_tel %></td>
              <td><%= head.delivery_address %></td>
              <td><%= head.order_no %></td>
              <td><%= head.construction.name %></td>
              <td><%= head.construction_metal %></td>
              <td><%= head.remark %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
