<div class="container">

  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/assets/kashiwagi_logo.png" alt="" width="52" height="37">
        <h2><%= @construction.name %></h2>
        <p class="lead bg-warning text-dark"><%= @construction.delivery_name %>（<%= @construction.address %>）<%= @construction.person %>さん（<%= @construction.tel %>）</p>
        <p class="lead">出荷内容を確定して下さい！</p>
    </div>

    <div class="row g-3">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted h3">Constructions</span>
          <span class="badge bg-secondary rounded-pill"><%#= @constructions.count %></span>
        </h4>
        <ul class="list-group mb-3">
          <%# <div id='calendar'></div> %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th>商品名</th>
                <th>注文数</th>
                <th>送付数</th>
              </tr>
            </thead>
            <tbody>
              <% @bodies.each do |body| %>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td class="text-secondary"><%= body.product_name %></td>
                  <td class="text-end text-secondary"><%= body.quantity %></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted h3">Shipping request</span>
        </h4>


        <form class="needs-validation" novalidate>
          <div class="row g-3">
              <%= form_with model: @head, url: new_users_shipment_path, local: true do |f| %>
               
                <div class="col-sm-4">
                  <div class="form-label">出荷日</div>
                  <%= f.date_field :ship_date, class: "form-control" %>
                </div>
                <div class="col-sm-2">
                  <div class="form-label">出荷時間</div>
                  <%= f.time_field :ship_date, class: "form-control" %>
                </div>
                <div class="col-sm-2">
                  <div class="form-label">搬入車両</div>
                  <select class="form-select" name=<%= f.select :vehicle, Head.vehicles_i18n.keys.map { |k| [Head.vehicles_i18n[k], k]}, prompt: "車両t数?" %></select>
                </div>
                <div class="col-sm-2">
                  <div class="form-label">ユニック要</div>
                  <%= check_box_tag :unic, class: "text-center" %>
                </div>
                <div class="col-sm-2">
                  <div class="form-label">待機場所有</div>
                  <%= check_box_tag :waiting_place, class: "text-center" %>
                </div>
                <div class="col-12">
                  <div class="form-label">降雨時の対応</div>
                  <%= f.text_field :rain, class: "form-control" %>
                </div>
                <div class="col-12">
                  <div class="form-label">納入先</div>
                  <%= f.text_field :rain, class: "form-control" %>
                </div>
                <div class="col-8">
                  <div class="form-label">工事名</div>
                  <%=  %>
                </div>

              <% end %>



          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 柏木興産</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
