<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="shipment-make border">
        <h3>出荷依頼Head</h3>
        <%= form_with model: @head, url: new_users_shipment_path, local: true do |f| %>
          <div class="ship-date-make m-1">
            <p class="date p-1">
              出荷日時：<%= f.date_field :ship_date, :size => "7" %>
              着時間：<%= f.time_field :ship_date %>
            </p>
            <p class="vehicle p-1">
              搬入車両：<%= f.select :vehicle, Head.vehicles_i18n.keys.map { |k| [Head.vehicles_i18n[k], k]} %>
              ユニック要：<%= check_box_tag :unic %>
              待機場所有：<%= check_box_tag :waiting_place %>
            </p>
            <p class="rain p-1">
              降雨時の対応：<%= f.text_field :rain, :size => "35" %>
            </p>
            <p class="delivery">
              
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-5">
    </div>
  </div>
</div>
