<div class="container">
  <div class="make-company m-2 p-2">
    <h4>Company Make!</h4>
    <%= form_with model:@company, url: users_companies_path(@company), local: true do |f| %>
      <div class="row p-2">
        <div class="col-sm-3">
          <%= f.text_field :name, class: "form-control", placeholder: "Company name" %>
        </div>
        <div class="col-sm-2">
          <%= f.text_field :post_code, class: "form-control", placeholder: "〒" %>
        </div>
        <div class="col-sm-7">
          <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-sm-3">
          <%= f.text_field :tel, class: "form-control", placeholder: "Telephone" %>
        </div>
        <div class="col-sm-3">
          <%= f.text_field :fax, class: "form-control", placeholder: "Fax Number" %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :ceo, class: "form-control", placeholder: "社長名" %>
        </div>
      </div>
      <%= f.submit "登録", class: "btn btn-success m-2" %>
    <% end %>
  </div>
  <div class="company-list m-2 p-2">
    <h4>Company List!</h4>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <% @companies.each do |company| %>
        <div class="col">
          <div class="card">
            <div class="card-body border">
              <h5 class="card-title"><%= company.name %>　<%= company.ceo %>社長</h5>
              <h6 class="card-subtitle mb-2 text-muted">Tel:<%= company.tel %>　fax:<%= company.fax %></h6>
              <% @persons.where(company_id: company.id).each do |person| %>
                <% if person.position == "" %>
                  <div class="card-text m-2"><%= person.name %>さん(<%= person.handy_phone %>)</div>
                <% else %>
                  <div class="card-text m-2"><%= person.name %><%= person.position %>(<%= person.handy_phone %>)</div>
                <% end %>
              <% end %>
              <a href="<%= edit_users_company_path(company) %>" class="card-link btn btn-warning btn-sm">訂正</a>
              <a href="<%= users_persons_path(:id => company.id) %>" class="card-link btn btn-primary btn-sm">担当</a>
              <a href="<%= users_company_path(company) %>" class="card-link btn btn-danger btn-sm" data-method = "delete" >削除</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
