<div class="container">
  <div class="make-company m-2 p-2">
    <h4>Company Make!</h4>
    <%= form_with model:@company, url: users_companies_path(@company), local: true do |f| %>
      <div class="row p-2">
        <div class="col-sm-3">
          <%= f.text_field :name, class: "form-control", placeholder: "Company name" %>
        </div>
        <div class="col-sm-2">
          <%= f.text_field :post_code, class: "form-control", placeholder: "〒" %>
        </div>
        <div class="col-sm-7">
          <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-sm-3">
          <%= f.text_field :tel, class: "form-control", placeholder: "Telephone" %>
        </div>
        <div class="col-sm-3">
          <%= f.text_field :fax, class: "form-control", placeholder: "Fax Number" %>
        </div>
        <div class="col-sm-5">
          <%= f.text_field :ceo, class: "form-control", placeholder: "社長名" %>
        </div>
        <div class="col-sm-1">
          <%= f.check_box :supplier %>
          仕入
        </div>
      </div>
      <%= f.submit "登録", class: "btn btn-success m-2" %>
    <% end %>
  </div>
  <div class="company-list m-2 p-2">
    <h4>
      Company List!　
      <%= link_to "All", users_companies_path %>　
      <%= link_to "Users", users_companies_path(key: "user") %>　
      <%= link_to "Suppliers", users_companies_path(key: "supplier") %>　
      <%= link_to "久留米", users_companies_path(key: "久留米") %>　
      <%= link_to "柳川", users_companies_path(key: "柳川") %>　
      <%= link_to "城島", users_companies_path(key: "城島") %>　
      <%= link_to "大川", users_companies_path(key: "大川") %>　
      <%= link_to "大牟田", users_companies_path(key: "大牟田") %>　
      <%= link_to "三潴", users_companies_path(key: "三潴町") %>　
      <%= link_to "大木", users_companies_path(key: "大木") %>　
      <%= link_to "筑後", users_companies_path(key: "筑後") %>　
      <%= link_to "みやま", users_companies_path(key: "みやま") %>　
      <%= link_to "八女", users_companies_path(key: "八女") %>　
      <%= link_to "広川", users_companies_path(key: "広川") %>　
      <%= link_to "朝倉", users_companies_path(key: "朝倉") %>　
      <%= link_to "うきは", users_companies_path(key: "うきは") %>　
      <%= link_to "小郡", users_companies_path(key: "小郡
      ") %>　
      <%= link_to "太刀洗", users_companies_path(key: "太刀洗") %>　
    </h4>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <% @companies.each do |company| %>
        <div class="col">
          <div class="card">
            <div class="card-body border">
              <h5 class="card-title">
                <%= link_to company.name, users_companies_path(:id => company.id) %>　<%= company.ceo %>社長
                <% if company.construction.count == 0 %>
                <% else %>
                  <span class="badge bg-success rounded-pill"><%= link_to company.construction.count, users_constructions_path(:id => company.id), class: "text-white" %></span>
                <% end %>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">Tel:<%= company.tel %>　fax:<%= company.fax %></h6>
              <% @persons.where(company_id: company.id).each do |person| %>
                <% if person.position == "" %>
                  <div class="card-text m-2">
                    <% if person.handy_phone == "" %>
                      <%= link_to person.name, users_jobs_path(:id => person.id) %>さん
                    <% else %>
                      <%= link_to person.name, users_jobs_path(:id => person.id) %>さん(<%= person.handy_phone %>)
                    <% end %>
                    <% if person.jobs.count == 0 %>
                    <% else %>
                      <span class="badge bg-danger rounded-pill"><%= person.jobs.count %></span>
                    <% end %>
                  </div>
                <% else %>
                  <div class="card-text m-2">
                    <% if person.handy_phone == "" %>
                      <%= link_to person.name, users_jobs_path(:id => person.id) %><%= person.position %>
                    <% else %>
                      <%= link_to person.name, users_jobs_path(:id => person.id) %><%= person.position %>(<%= person.handy_phone %>)
                    <% end %>
                    <% if person.jobs.count == 0 %>
                    <% else %>
                      <span class="badge bg-danger rounded-pill"><%= person.jobs.count %></span>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <a href="<%= edit_users_company_path(company) %>" class="card-link btn btn-warning btn-sm">訂正</a>
              <a href="<%= users_persons_path(:id => company.id) %>" class="card-link btn btn-primary btn-sm">担当</a>
              <a href="<%= users_company_path(company) %>" class="card-link btn btn-danger btn-sm" data-method = "delete" >削除</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if @jobs == nil %>
    <% else %>
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted h3">Job List</span>
        <span class="badge bg-secondary rounded-pill"><%= @jobs.count %></span>
      </h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>期限</th>
            <th>依頼</th>
            <th>内容</th>
            <th>詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each do |job| %>
            <% if job.completed == true %>
              <tr>
                <td class="text-danger">完了<%= job.updated_at.strftime('%m-%d') %></td>
                <td class="text-muted">
                  <% if job.person.position == "" %>
                    <%= job.person.name %>　さん
                  <% else %>
                    <%= job.person.name %><%= job.person.position %>
                  <% end %>
                </td>
                <td class="text-muted"><%= job.type_i18n %></td>
                <td class="text-muted"><%= job.content %></td>
              </tr>
            <% else %>
              <tr>
                <td>
                  <%= job.date %>
                  <%= link_to '完了', users_job_path(job, job: {completed: true}), method: :put, class: "btn btn-sm btn-success" %></td>
                <td>
                  <% if job.person.position == "" %>
                    <%= job.person.name %>　さん
                  <% else %>
                    <%= job.person.name %><%= job.person.position %>
                  <% end %>
                </td>
                <td><%= job.type_i18n %></td>
                <td><%= job.content %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
